<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
    <div class="col-sm-12">


        <div class="panel panel-default" style="width: 300px;margin: 0 auto;margin-top: 100px">
            <div class="panel-heading">
                Image Uploader
            </div>
            <div class="panel-body">
                <form role="form" enctype="multipart/form-data" method="post">

                    <div class="form-group">
                        <input type="file" id="inputfile" name="file">
                    </div>

                    <button type="submit" class="btn btn-default">Upload</button>
                </form>
            </div>
        </div>


    </div>
</div>


</body>
</html>